body {
  font-family: monospace;
  font-weight: 700;
  font-size: 30px;
  padding: 20px;
  background: url("https://cdn.hipwallpaper.com/i/56/5/8Sm2Ah.jpg");
  color: #00DFFC;
}

#about {
 color: #F8F8FF;
 font-size: 20px;
}

cite {
  color: #FFDEAD;
}

a {
  color:#DDA0DD
}

#pi {
  color: #DC143C;
}

.type {
  font-family: monospace;
  color: #0000;
  background:
    linear-gradient(-90deg,#00DFFC 5px,#0000 0) 10px 0,
    linear-gradient(#00DFFC 0 0) 0 0;
  background-size:calc(var(--n)*1ch) 200%;
  -webkit-background-clip:padding-box,text;
  background-clip:padding-box,text;
  background-repeat:no-repeat;
  animation: 
    b .1s infinite steps(1),   
    t calc(var(--n)* .1000s) steps(var(--n)) forwards;
  word-break: break-all;
}
@keyframes t{
  from {background-size:0 200%}
}
@keyframes b{
  50% {background-position:0 -100%,0 0}
}

